---
import { Image } from "astro:assets";
const images = await Astro.glob("/src/assets/gallery/*").then((files) => {
  return files.map((file) => file.default);
});

const column_one: any[] = [];
const column_two: any[] = [];
const column_three: any[] = [];
const column_four: any[] = [];

images.forEach((obj, index) => {
  if (index % 4 === 0) {
    column_one.push(obj);
  } else if (index % 4 === 1) {
    column_two.push(obj);
  } else if (index % 4 === 2) {
    column_three.push(obj);
  } else {
    column_four.push(obj);
  }
});
---

<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <div class="grid gap-4">
    {
      column_one.map((img) => (
        <div class="flex items-center justify-center">
          <Image
            class="object-contain h-full rounded-lg image-modal"
            src={img}
            alt={img.src}
            loading="eager"
          />
        </div>
      ))
    }
  </div>
  <div class="grid gap-4">
    {
      column_two.map((img) => (
        <div class="flex items-center justify-center">
          <Image
            class="object-contain h-full rounded-lg image-modal"
            src={img}
            alt={img.src}
            loading="eager"
          />
        </div>
      ))
    }
  </div>
  <div class="grid gap-4">
    {
      column_three.map((img) => (
        <div class="flex items-center justify-center">
          <Image
            class="object-contain h-full rounded-lg image-modal"
            src={img}
            alt={img.src}
            loading="eager"
          />
        </div>
      ))
    }
  </div>
  <div class="grid gap-4">
    {
      column_four.map((img) => (
        <div class="flex items-center justify-center">
          <Image
            class="object-contain h-full rounded-lg image-modal"
            src={img}
            alt={img.src}
            loading="eager"
          />
        </div>
      ))
    }
  </div>

  <div
    id="dialog"
    class="hidden justify-center items-center w-screen h-screen bg-transparent pt-4 pb-4 pl-4 pr-4 fixed left-0 top-0 overflow-y-auto overflow-x-hidden outline-none backdrop backdrop-brightness-[.15]"
  >
    <Image
      id="modal-image"
      class="object-contain h-full rounded-lg"
      src={column_four[0]}
      alt={"a"}
      loading="eager"
    />
  </div>
</div>

<script>
  const image_modals = document.querySelectorAll("img.image-modal");
  const modal = document.getElementById("dialog");
  const modal_image = document.getElementById("modal-image");

  if (!modal || !modal_image) {
    throw new Error("Modal not found");
  }

  image_modals.forEach((image_modal) => {
    image_modal.addEventListener("click", () => {
      modal.style.display = "flex";
      modal_image.setAttribute("src", image_modal.getAttribute("src") ?? "");
    });
  });

  modal.addEventListener("click", () => {
    modal.style.display = "none";
  });
</script>
